html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #4d4d4d;
    text-align: left;
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

h2 {
    margin: 0;
    font-size: 3rem;
    line-height: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

#mobile {
    display: none;
}

video {
    width: 100px;
}
/*header*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 100;
}

div.nav-content {
    display: flex;
    flex: 1;
    align-items: center;
    height: 4rem;
    padding: 0 1.5rem;
}

span#light {
    font-weight: 300;
    color: #b3b3b3;
}

img#logoimg {
    height: 3rem;
    margin-top: 0.5rem;
}

span.navspan {
    padding-right: 16px;
}

div.nav-desktop {
    flex-grow: 1;
    text-align: right;
}

/*main*/

div.main {
    margin-top: 4rem;
    position: relative;
    width: 100%;
}

div.first-section {
    display: flex;
    background-color: #e6e6e6
}

.banner {
    padding: 2rem 1.5rem;
    width: 60%;
}

div.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 5rem;
}

.button {
    padding: 0.5rem 0;
    background-color: #4d4d4d;
    color: white;
    text-align: center;
}