body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #444444;
    text-align: left;
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

#mobile {
    display: none;
}

/*header*/
header {
    width: 100%;
}

div.nav-content {
    display: flex;
    flex: 1;
    align-items: center;
    height: 4rem;
    padding: 0 1.5rem;
}

span#light {
    font-weight: 300;
    color: #777777;
}

img#logoimg {
    height: 3rem;
    margin-top: 0.5rem;
}

span.navspan {
    padding-right: 16px;
}

div.nav-desktop {
    flex-grow: 1;
    text-align: right;
}
