html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #4d4d4d;
    text-align: left;
    margin: 0;
    font-weight: 300;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

h2 {
    margin: 0;
    font-size: 2.75rem;
    line-height: 3rem;
}

h3 {
    font-size: 2rem;
    margin: 32px 0 0 0;
}

h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-weight: 300;
    color: #4d4d4d;
}

#mobile {
    display: none;
}

/*header*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 100;
}

.nav-content {
    display: flex;
    flex: 1;
    align-items: center;
    height: 4rem;
    padding: 0 1.5rem;
}

#light {
    font-weight: 300;
    color: #b3b3b3;
}

#logoimg {
    height: 3rem;
    margin-top: 0.5rem;
}

.navspan {
    padding-right: 16px;
    color: #4d4d4d;
}

#navspan {
    co
}

.nav-desktop {
    flex-grow: 1;
    text-align: right;
}

/*main*/

div.main {
    margin-top: 4rem;
    position: relative;
    width: 100%;
}

/*first section*/

.first-section {
    display: flex;
    background-color: #e6e6e6
}

.banner {
    padding: 2rem 1.5rem;
    width: 60%;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 5rem;
}

.button {
    padding: 0.5rem 0;
    background-color: #4d4d4d;
    color: white;
    text-align: center;
}

/*second section*/

.second-section {
    display: flex;
    justify-content: flex-start;  
    flex-wrap: nowrap;
}

.left {
    display: flex;
    padding: 2rem 1.5rem;
    flex-direction: column;
    width: 60%;
}

#infoimage {
    max-width: 100%;
}
.info-img {
    object-fit: cover;
    object-position: top;
    align-content: flex-start;
    max-width: 100%;
}

 .right {
    display: flex;
    flex-direction: column;
    width: 40%;
    flex: 1;
    border-left: 0.5px solid #e6e6e6;
    padding-top: 1rem;
}

 .info-blocks {
    display: flex;
    flex-direction: row;
    border-bottom: 0.5px solid #e6e6e6;
    padding: 1rem 2rem 1rem 0;
 }

 #containerimg{
    width: 35%;
    margin: auto;
 }
 .container-text {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    align-items: left;
 }

.container-img {
    max-width: 100%;
    object-fit: scale-down;
    padding-left: 1rem;
}

.container-text h4{
    margin: 0;
}

.grey {
    background-color: #e6e6e6;
}

#info-name {
    font-weight: 400;
    font-size: 0.9rem;
    margin-top: 32px;
}

h3.info-text {
    margin-bottom: 1.5rem;
}

#text {
    margin: 0.5rem 0;
}

#readmore {
    color: rgb(74, 169, 247);
}

/*third section*/

.third-section {
    background-color: #f1f0f0;
    padding: 2rem 0 2rem;
}

.heading {
    text-align: center;
    margin: 0;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    margin: 0 4rem;
    justify-content: space-between;
    align-content: space-around;
}

.course {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: white;
    margin: 2rem 1rem;
}

div.course {
    box-sizing: border-box;
}

.course-img {
    max-width: 100%;
    object-fit: cover;
}

.course-content {
    padding: 1rem 1rem 1.5rem 1rem;
}

#marged {
    margin-top: 0;
    margin-bottom: 1rem;
}

#description {
    margin: 0;
}

/*fourth section*/

video {
    max-width: 100%;
}

#videotext {
    margin-bottom: 8px;
}

.quote {
    margin: 0;
}

.fourth-content {
    display: flex;
}

.right.noborder {
    padding-top: 2rem;
}
.noborder {
    border: none;
}

/*footer*/

footer {
    width: 100%;
    display: flex;
    border-top: 0.5px solid #e6e6e6;
    z-index: 100;
    align-items: center;
}

.rights {
    padding-left: 1.5rem;
    font-size: 0.75rem;
}
.terms {
    flex-grow: 1;
    text-align: right;
}

#bottom {
    font-size: 0.75rem;
    color: #4d4d4d;
    padding: 1rem;
}